AREA OF RECTANGLE

In [ ]:
a=int(input("enter the 1 no"))
b=int(input("enter the 2 no"))
s=a*b
print(s)

SUM OF 2 NUMBERS

In [ ]:
a=int(input("enter the 1 no"))
b=int(input("enter the 2 no"))
s=a+b
print(s)

DIFFERENCE OF 2 NUMBERS

In [ ]:
a=int(input("enter the 1 no"))
b=int(input("enter the 2 no"))
s=a-b
print(s)

QUOTIENT OF 2 NUMBERS

In [ ]:
a=int(input("enter the 1 no"))
b=int(input("enter the 2 no"))
s=a/b
print(s)

PRODUCT OF 2 NUMBERS

In [ ]:
a=int(input("enter the 1 no"))
b=int(input("enter the 2 no"))
s=a*b
print(s)

WHETHER THE NUMBER IS +VE,-VE,OR ZERO

In [5]:
number=int(input("enter the number"))
if(number>0):
  print("number is positive")
elif(number<0):
  print("number is negative")
else:
  print("number is zero")

enter the number-5
number is negative

PRINT GRADE ACCORDING TO MARK

In [9]:
mark=float(input("enter the mark"))
if(mark>=90 and mark<=100):
  print("A grade")
elif(mark>=80):
  print("B grade")
elif(mark>=70):
  print("C grade")
elif(mark>=60):
  print("D grade")
elif(mark>=0):
  print("F grade")
else:
  print("invalid")

enter the mark5
F grade

PRINT NUMBERS FROM 10 TO 0

In [10]:
for n in range(10,0,-1):
  print(n)

10
9
8
7
6
5
4
3
2
1

PRINT EVEN NUMBERSFROM 0 TO 20

In [11]:
for n in range(2,22,2):
  print(n)

2
4
6
8
10
12
14
16
18
20

PRINT MULTIPLICATION TABLE OF SPECIFIC NUMBER

In [12]:
num=int(input("enter the number"))
for n in range(1,11):
  print(num*n)

enter the number3
3
6
9
12
15
18
21
24
27
30

CONVERSION CELSUIS TO FEHRENHEIT AND VICEVERSA

In [13]:
fer=float(input("enter the number"))
cel=(fer-32)*5/9
print(cel)

enter the number12
-11.11111111111111

In [14]:
fer=float(input("enter the number"))
fer=(cel*9/5)+32
print(fer)

enter the number-11
12.0

LEAP YEAR

In [23]:
y=int(input("enter the year"))
if(y%4==0 and y%100!=0):
  print("it is a leap year")
elif(y%400==0):
  print("it is a leap year")
else:
    print("it is not a leap year")

enter the year2023
it is not a leap year